@import "../../libs/vars";
@import "../../libs/mixins";

.caption {
  text-align: $caption-position;
  width: 45%;
  color: #fff;
  letter-spacing: 0;
  margin-top: 10vh;

  & .heading--stripe:after {
    background: #fff;
  }

  @media all and (max-width: 756px) {
    &__props {
      display: none;
    }
  }
}
