@import "../../libs/vars";

$logo-color: #31353e;

.logo {
  &__link {
    font-size: 2.3em;
    font-family: $base-font-family;
    font-weight: $base-font-weight + 300;

    &:hover {
      color: $logo-color;
    }
  }

  @media all and (max-width: $brakepoint-tablet) {
    & {
      margin: 0 auto;
    }
  }
}
