@import "../components/item";
@import "../components/circle";

.banner {
  color: #fff;
  text-align: center;

  &__wrapper {
    margin-top: 27rem;
    margin-bottom: 4rem;
  }

  &__text-wrap {
    margin-bottom: 8rem;

    & .heading {
      margin-bottom: 1rem;
    }
  }

  &__content {
    margin-bottom: 3rem;
  }
}
